/*general style*/
body {
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}

/*specify style*/
#nav-bar {
    /* put the nav always on the top */
    position: sticky;
    top: 0;
    background: #ffffff;
}

.menu {
    display: flex;
    /* Reset Chrome's default margin to 0 */
    margin: 0;
    align-items: center;
}

.menu li {
    /*I used flex grow because I need all the items have the same. and none: Remove style for ul and li */
    flex-grow: 1;
    list-style: none;
}

.firstlogo {
    /*I used this flex basis to put some with to permit take enough space for the logo and and do the desing */
    flex-basis: 60%;
}

.menu a {
    /* take off the decorations */
    text-decoration: none;
    color: #c83349;
}

.firstlogo img {
    width: 220px;
    height: 110px;
}

.title {
    text-align: center;
    color: #e06377;
}

/* Remember for flexbox this is a container for input email */
.control-email {
    text-align: center;
}

/* Remember for flexbox this is a item for input email (children) */
.control-email input {
    width: 20%;
}

/*submit-button*/
.container-button {
    display: flex;
    justify-content: center;
}

.container-button input {
    background: #c83349;
    background-image: -webkit-linear-gradient(top, #c83349, #e06377);
    background-image: -moz-linear-gradient(top, #c83349, #e06377);
    background-image: -ms-linear-gradient(top, #c83349, #e06377);
    background-image: -o-linear-gradient(top, #c83349, #e06377);
    background-image: linear-gradient(to bottom, #c83349, #e06377);
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    -webkit-box-shadow: 4px 0px 5px #eeac99;
    -moz-box-shadow: 4px 0px 5px #eeac99;
    box-shadow: 4px 0px 5px #eeac99;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20px;
}

.container-button input:hover {
    /*this decoration is for put another color when you want click the button*/
    background: #eeac99;
    text-decoration: none;
}

/*specify style - 3 item*/
.makeup {
    /*his container used: max width and margin 0 its use for center bouth children and then you can move the elements in a better way.  */
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

.makeuplogo {
    /*This firts element in the container works, moving the img to a direction and take the a considerable space with */
    text-align: right;
    padding: 0 5%;
    width: 50px;
}

.makeupinformation {
    /* the element just need  grow up one more. */
    flex-grow: 1;
}

.makeuplogo img {
    width: 100%;
    height: auto;
}

.video {
    text-align: center;
    margin: 2%;
}

/*specify style - princing*/
.container-pricing ul {
    /*just for style*/
    list-style: none;
    text-align: left;
}

.container-pricing {
    /*First Flexbox*/
    display: flex;
    max-width: 750px;
    margin: auto;
    text-align: center;
    margin-bottom: 150px;
}

.plan {
    /*Firts elemtn item and the background and the margin did the pricing desing*/
    flex: 1;
    background: #f9d5e5;
    margin: 10px;
    border-radius: 4px;
    border: solid 1px #c83349;

}

.plan {
    /*Second flexbox*/
    display: flex;
    flex-direction: column;
}

.table-list {
    /*fisrt elemento to the secondary flexbox, this thing is just to ordering the list, if u want all the items align you put this, the way just the list is the only element who moves if increment th information*/
    flex-grow: 1;
}

.plan p {
    /*making the background*/
    margin: 0px;
    padding: 0px;
    background: #e06377;
    font-size: 25px;
    color: #f9d5e5;
}

.price p {
    background: #edcedc;
    color: #c83349
}

.footer {
    /*Container footer*/
    display: flex;
    max-width: 900px;
    margin: auto;
    background: #c83349;
    color: #edcedc;
    justify-content: flex-end;
    padding: 10px;
}

.footer li {
    /*first element container*/
    list-style: none;
    margin: 0 5px;
}

/*Second element container*/
.copycin {
    max-width: 900px;
    margin: auto;
    background: #c83349;
    color: #edcedc;
    text-align: right;
    padding: 10px;
}

/* This query was necessary for changing the size of the elements on mobile cellphone*/
@media only screen and (max-width: 800px) {

    /*This is the way to the elements put on columns for this view*/
    .menu {
        display: flex;
        flex-direction: column;
    }

    /*make flexbox input email because the input looks bad on mobile views.*/
    .control-email {
        display: flex;
        justify-content: center;
    }

    /*element container has a 100% width to have enough space to write an email. */
    .control-email input {
        width: 100%;
    }

    /*to adjust to the view*/
    .video {
        display: flex;
    }

    /*Put the container in column and every pricing has their own space.*/
    .container-pricing {
        display: flex;
        flex-direction: column;
    }
}